@use "../variables" as *;
@use "../fonts" as *;

/* =========== PROJECT PREVIEW COMPONENT ========== */
/* ================================================*/

.project-preview-section {
  width: 100%;
  min-height: 50vh;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: $spacing-xxlarge;

  .project-preview-section h4 {
    margin-bottom: 4rem;
  }

  .body-text {
    margin: $spacing-xxlarge 0;
    width: 30%;
  }

  .project-preview-grid {
    margin-top: $spacing-xxlarge;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: $spacing-xxlarge; // mellanrum mellan projekten
    flex-wrap: wrap; // för responsivitet
  }

  .project-card {
    width: auto;
    flex: 1 1 45%; // tar upp ~hälften av bredden
    min-width: 300px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      transform: translateY(-5px);
    }

    .project-img-wrapper {
      position: relative;

      width: 100%;

      .project-img {
        width: 100%;
      }

      .project-title {
        position: absolute;
        top: 15px;
        left: 20px;
        background-color: black;
        color: $text-color-white;
        font-size: $fs-mobile-xsmall;
        padding: $spacing-small;
      }
    }
    .project-text {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 4px;

      p {
        font-size: $fs-mobile-xsmall;
      }
    }
  }

  .button {
    width: 25%;
    padding: 1rem 2rem 1rem 3rem;
    background-color: transparent;
    border: 1px solid $secondary-color;
    font-size: $fs-mobile-small;
    color: $text-color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 12rem 0 10rem 0;
  }

  .button:hover {
    background-color: $secondary-color;
    border: none;
    border-radius: 10px;
    font-size: $fs-mobile-small;
    color: $text-color-dark;
    font-weight: $regular;
    text-transform: uppercase;
  }

  .projects-button {
    display: flex;
    align-items: center;

    .button-arrow {
      margin-left: 16px;
    }
  }
}
