@use "../variables" as *;
@use "../fonts" as *;
@use "../mixins" as *;

.contact-section {
  .contact-block {
    display: flex;
    align-items: flex-start;
    gap: 10rem;
    height: auto;
    margin-block: 2rem;
    color: $text-color-light;

    @include mobile {
      gap: 1rem;
      margin-block: 1rem;
    }

    a {
      color: $text-color-light;
      text-decoration: none;
    }

    a:hover {
      color: $text-color-white;
    }

    .contact-title {
      text-transform: uppercase;
      width: 10rem;
    }

    .contact-fields {
      display: flex;
      flex-direction: column;

      .contact-field-wrapper {
        margin-bottom: 1rem;
      }
    }
  }
}
