@use "../variables" as *;
@use "../fonts" as *;
@use "../mixins" as *;

// =========================
// FOOTER BASE
// =========================
.footer-section {
  width: 100%;
  padding: 4rem 4rem 1rem 4rem;
  background-color: $secondary-color;
  margin-top: 6rem;

  @include mobile {
    padding: 2rem 1rem 1rem 1rem;
  }
}

// =========================
// CONTENT WRAPPER
// =========================
.footer-content {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

// =========================
// SECTIONS (EXPLORE / SOCIALS / CONTACT)
// =========================
.footer-explore,
.footer-socials,
.footer-contact {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;

  @include mobile {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  p {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1.2rem;
    color: $text-color-dark;
  }
}

// =========================
// LINKS
// =========================
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: $text-color-dark;
  text-decoration: none;
  transition: color 0.3s ease;

  @include mobile {
    font-size: 1rem;
    text-align: right;
  }

  &:hover {
    color: $thrid-color;
  }
}

// =========================
// CONTACT SECTION
// =========================
.footer-contact {
  .footer-email {
    font-size: 1.3rem;
    font-weight: 600;
    color: $text-color-dark;
    transition: color 0.3s ease;
    position: relative;

    @include mobile {
      font-size: 1rem;
    }
    &:hover {
      color: $thrid-color;
    }
  }
}
// =========================
// LOGO + COPYRIGHT
// =========================
.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $spacing-xxlarge;

  @include mobile {
    margin-top: $spacing-medium;
  }

  .footer-logo {
    width: 100%;
    height: auto;
  }

  .footer-copy {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    text-align: center;
  }
}
