@use "../variables" as *;
@use "../fonts" as *;
@use "../mixins" as *;

// =========================
// FOOTER BASE
// =========================
.footer-section {
  width: 100%;
  padding: 4rem 4rem 1rem 4rem;
  background-color: $secondary-color;
  margin-top: 6rem;

  @include mobile {
    padding: 2rem 1rem 1rem 1rem;
  }
}

// =========================
// CONTENT WRAPPER
// =========================
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6rem;
  margin-bottom: 4rem;

  @include desktop {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
    gap: 4rem;
  }
  @include mobile {
    flex-direction: column;
    gap: 3rem;
  }
}

// =========================
// SECTIONS (EXPLORE / SOCIALS / CONTACT)
// =========================
.footer-explore,
.footer-socials,
.footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;

  @include desktop {
    width: 100%;
  }

  p {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1.2rem;
    color: $text-color-dark;
  }
}

// =========================
// LINKS
// =========================
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.3rem;

  .footer-link {
    font-size: 1.2rem;
    font-weight: 500;
    color: $text-color-dark;
    text-decoration: none;
    transition: color 0.3s ease;

    @include mobile {
      font-size: 1rem;
      text-align: right;
    }

    &:hover {
      color: $thrid-color;
    }
  }
}

// =========================
// LOGO + COPYRIGHT
// =========================
.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $spacing-xxlarge;

  @include mobile {
    margin-top: $spacing-medium;
  }

  .footer-logo {
    width: 100%;
    height: auto;
  }
}

.footer-copy {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  text-align: left;
}
