@use "../variables" as *;
@use "../fonts" as *;
@use "../mixins" as *;

/* ============== HEADER ============= */
/* ====== LOGO & EPLORE BUTTON =======*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.197);

  .logo-mobile {
    display: none;
  }

  // Mobilvy
  @include tablet {
    .header-container {
      padding: 1rem;
    }
    .logo-desktop {
      display: block;
    }
    .logo-mobile {
      display: none;
    }
  }

  // Mobilvy
  @include mobile {
    .header-container {
      padding: 1rem;
    }
    .logo-desktop {
      display: none;
    }
    .logo-mobile {
      display: block;
    }
  }
}
