@use "../variables" as *;
@use "../fonts" as *;
@use "../mixins" as *;

// INTRO SECTION [TITEL OCH INGRESSTEXT]
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;

  @include tablet {
    padding: 0 3rem;
  }

  @include mobile {
    padding: 0 2rem;
  }

  .page-title {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .intro-paragraphs {
    margin-top: auto;
    margin-bottom: 0;
    height: auto;
    width: 80%;
    font-family: $font-mono;

    @include mobile {
      width: 100%;
    }
  }
}

// About intro section
// Varje ny rad i sanity skapar en paragraph

.intro-section.about {
  height: 70vh;
  width: 100%;

  @include tablet {
    height: 100%;
  }

  .intro-paragraphs.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    width: 100%;

    @include tablet {
      grid-template-columns: 1fr;
      width: 50%;
      margin-top: 10rem;
    }

    @include mobile {
      grid-template-columns: 1fr;
      width: 90%;
    }
  }
}

.intro-paragraph {
  display: flex;
  flex-direction: column;

  .paragraph-number {
    font-size: 2rem;
    opacity: 0.5;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  .paragraph-text {
    font-size: 14px;
  }
}
