@use "../variables" as *;
@use "../fonts" as *;
@use "../mixins" as *;

.link-list-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $spacing-xlarge;

  @include tablet {
    flex-direction: column;
    gap: $spacing-xxlarge;
  }

  .link-list-block {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    height: auto;
    color: $text-color-light;

    a {
      color: $text-color-light;
      text-decoration: none;
    }

    a:hover {
      color: $text-color-light;
    }

    .link-list-title {
      text-transform: uppercase;
      width: 6rem;
    }

    .link-list-items {
      display: flex;
      flex-direction: column;

      .link-list-item {
        margin-bottom: 1rem;
      }

      .link-list-item:last-child {
        margin-bottom: 0;
      }
    }
  }
}
