@use "../variables" as *;
@use "../fonts" as *;
@use "../mixins" as *;

// Navigations meny öppen på HERO
.navigation {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: auto;

  .navlink {
    font-size: $fs-mobile-small;
    font-family: $font-mono;
    text-decoration: none;
    color: $text-color-white;
    font-weight: 300;
    text-transform: uppercase;

    @include mobile {
      font-size: $fs-mobile-xsmall;
    }
  }

  .navlink:hover {
    color: $secondary-color;
  }
}
