@use "../variables" as *;
@use "../fonts" as *;
@use "../mixins" as *;

// TECHSTACK SECTION + ICONS

.techstack-title {
  text-transform: uppercase;
  font-size: $fs-desktop-small;
}

.icon-Grid {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: center;

  .stack-icon {
    height: 64px;
    width: auto;

    @include mobile {
      height: 48px;
    }
  }
}
