@use "variables" as *;

$font-primary: var(--font-schibsted-grotesk), sans-serif;
$font-mono: var(--font-geist-mono), monospace;

// RESPONSIVE FONT MIXIN
@mixin responsive-font($mobile-size, $desktop-size) {
  font-size: $mobile-size;

  @media (min-width: 768px) {
    font-size: $desktop-size;
  }
}

// RESONSIVE TEXT
h1 {
  @include responsive-font($fs-mobile-xlarge, $fs-desktop-xxlarge);
  font-family: $font-primary;
  text-transform: uppercase;
}

h2 {
  @include responsive-font($fs-mobile-large, $fs-desktop-xlarge);
  font-family: $font-primary;
  text-transform: uppercase;
}

h3 {
  @include responsive-font($fs-mobile-medium, $fs-desktop-large);
  font-family: $font-primary;
  text-transform: uppercase;
}

h4 {
  @include responsive-font($fs-mobile-small, $fs-desktop-medium);
  font-family: $font-primary;
  text-transform: uppercase;
}

p {
  @include responsive-font($fs-mobile-xsmall, $fs-mobile-small);
  font-weight: $thin;
  font-family: $font-mono;
}

a {
  @include responsive-font($fs-mobile-xsmall, $fs-mobile-small);
  font-weight: $thin;
  font-family: $font-mono;
  color: $text-color-light;
}

a:hover {
  color: $text-color-white;
}
