@use "variables" as *;
@use "fonts" as *;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: $font-primary;
  background-color: $primary-color;
  color: $text-color-light;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

// BUTTON
.button {
  font-size: $fs-mobile-small;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: $thin;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Global page styles

section:not(.project-section) {
  padding: 4rem;

  @include respond-above(1800px) {
    padding: 8rem;
  }
}
.page-title {
  margin-top: $spacing-xxlarge;
  text-transform: uppercase;
}
.body-text {
  margin-block: $spacing-xxlarge;
  width: 70%;
  font-family: $font-mono;
}
