// Colors
$primary-color: #12302d;
$secondary-color: #d7ffc6;
$thrid-color: #0a201e;
$text-color-light: #d7ffc6;
$text-color-dark: #12302d;
$text-color-white: white;

// Spacing
$spacing-xsmall: 0.5rem; //8px
$spacing-small: 1rem; //16px
$spacing-medium: 1.5rem; // 24px
$spacing-large: 2rem; // 32px
$spacing-xlarge: 2.5rem; //40px
$spacing-xxlarge: 5rem; //80px
