// Colors
$primary-color: #12302d;
$secondary-color: #d7ffc6;
$thrid-color: #0a201e;
$text-color-light: #d7ffc6;
$text-color-dark: #12302d;
$text-color-white: white;

//FONTSIZE DESKTOP
$fs-desktop-small: 2rem; // 32px
$fs-desktop-medium: 4rem; // 64px
$fs-desktop-large: 6rem; // 96px
$fs-desktop-xlarge: 8rem; //128px
$fs-desktop-xxlarge: 10rem; //160px

//FONTSIZE MOBILE
$fs-mobile-xsmall: 1rem; // 16px
$fs-mobile-small: 1.5rem; // 24px
$fs-mobile-medium: 2rem; // 32px
$fs-mobile-large: 2.5rem; // 40px
$fs-mobile-xlarge: 5rem; // 80px

// FontWeight
$thin: 200;
$regular: 400;
$bold: 700;

// Spacing
$spacing-xsmall: 0.5rem; //8px
$spacing-small: 1rem; //16px
$spacing-medium: 1.5rem; // 24px
$spacing-large: 2rem; // 32px
$spacing-xlarge: 2.5rem; //40px
$spacing-xxlarge: 5rem; //80px
