// Base
@use "variables" as *;
@use "fonts" as *;
@use "global" as *;

// Layouts

// Components
@use "./components/header" as *;
@use "./components/hero" as *;
@use "./components/projectpreview" as *;
@use "./components/footer" as *;

// PAGES
@use "./components/pages/landingpage" as *;
@use "./components/pages/projectsPage" as *;
@use "./components/pages/aboutPage" as *;
@use "./components/pages/contactPage" as *;
