@use "../../variables" as *;
@use "../../fonts" as *;
@use "../../mixins" as *;

/* ================= PROJECT PAGE ================ */
/* ================================================*/

.project-section {
  width: 100vw;
  padding-bottom: $spacing-xxlarge;
  .project-content {
    padding: 4rem;
  }
  .project-carousel {
    margin-top: $spacing-xxlarge;
    padding-top: $spacing-xxlarge;
    display: flex;
    width: 12000%;
    align-items: center;
    gap: $spacing-xxlarge; // mellanrum mellan projekten
    overflow: hidden;

    .project-card {
      max-width: 1000px;
      min-width: 300px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: transform 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        transform: translateY(-5px);
      }

      .project-img-wrapper {
        position: relative;

        width: 100%;

        .project-img {
          width: 100%;
        }

        .project-title {
          position: absolute;
          top: 15px;
          left: 20px;
          background-color: white;
          color: black;
          font-size: $fs-mobile-xsmall;
          padding: $spacing-small;
        }
      }
      .project-text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 4px;
        color: $text-color-light;

        p {
          font-size: $fs-mobile-xsmall;
        }
      }
    }
  }
}
